.customDiv{
  margin: 10px;
  border: 2px solid gray;
  width: 250px;
  height: 200px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}
select{
  font-size: larger;
  width: 200px;
}
li{
  display: inline-block;
}
.btn-delete{
color: red;
cursor: pointer;
}